@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --er-red: #F72717;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}

a.active {
    color: var(--er-red)
}

button span:has(a) {
    padding: 0 !important;
}

button span:has(a) a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.auth-layout main {
    min-height: 93.1vh;
}
.ed-shadow {
    box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
}